
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: #1B1B32;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin: 100px auto 0;
  font-family: "Castoro Titling", serif;
  text-align: center;
  width: 500px;
}

form {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 280px;
  border: 3px solid white;
  padding: 40px;
  background-color: #3B3B4F;
}


form label {
  font-size: 1.5rem;
  font-weight: bold;
}

form input[type = "number"] {
  font-size: 3rem;
  background-color: #0A0A23;
  color: white;
  border: 1px solid white;
}

form button {
  background-color: #FFBE41;
  border: 2px solid #FEAC32;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  background-image: linear-gradient(180deg, orange, darkorange);
}

#roman-display {
  margin: 50px auto;
  width: 500px;
  text-align: center;
  border: 3px solid white;
  background-color: #3B3B4F;
  font-size: 3rem;
  padding: 10px;
}

.hidden {
  display: none;
}
